<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIY BUDDY</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-no-repeat bg-cover bg-gray-100" style="height: 100vh;">

    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <span role="img" aria-label="hammer">🛠</span>
                DIY BUDDY
            </h1>
            {{!-- <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/public/js/profile.js"> {{User.username}} </a> |
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/public/js/login.js">login</a>
                {{/if}}
            </nav> --}}
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    {{!-- <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}} --}}
</body>

</html>