<div class="flex justify-center items-center h-full space-x-20">
  <!-- Login box -->
  <div class="w-96 p-8 bg-white shadow-blue-lg rounded-md">
    <h1 class="text-3xl font-semibold mb-6 text-center">Login</h1>
    <form class="login-form" id="login-form">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
        <input type="text" id="email-login" name="email" placeholder="Email"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md">
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
        <input type="password" id="password-login" name="password" placeholder="•••••••••"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md">
      </div>
      <button type="submit" class="bg-indigo-600 text-white p-2 w-full rounded-md hover:bg-indigo-700">Login</button>
    </form>
  </div>

  <!-- Sign up box -->
  <div class="w-96 p-8 bg-white shadow-lg rounded-md">
    <h1 class="text-3xl font-semibold mb-6 text-center">Sign Up</h1>
    <form class="signup-form" id="signup-form">
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-600">Username</label>
        <input type="text" id="username-signup" name="username" placeholder="Username"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600">Email</label>
        <input type="email" id="email-signup" name="email" placeholder="Type your Email"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md">
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-600">Password</label>
        <input type="password" id="password-signup" name="password" placeholder="•••••••••"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md">
      </div>
      <button type="submit" class="bg-indigo-600 text-white p-2 w-full rounded-md hover:bg-indigo-700">Sign
        Up</button>
    </form>
  </div>
</div>
<script src="../js/login.js"></script>