<div class="row text-blue-100 font-bold relative">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<div class="row mt-4 text-blue-100 font-bold relative">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Project Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="project-difficulty">Difficulty</label><br>
        <input type="radio" id="difficulty" name="diff" value="Easy">
        <label for="diff1">Easy</label><br>
        <input type="radio" id="difficulty" name="diff" value="Medium">
        <label for="diff2">Medium</label><br>
        <input type="radio" id="difficulty" name="diff" value="Hard">
        <label for="diff3">Hard</label><br>
      </div>
      <div class="form-group">
        <label for="materials">Materials Required:</label>
        <textarea class="form-input" id="materials" name="materials"></textarea>
      </div>
      <div>
      </div>
      <div class="form-group">
        <label for="budget">Budget💰:</label>
        <input class="form-input" type="number" id="budget" name="budget" />
      </div>
      <div>
        <div class="flex items-center mb-2">
          <h2 class="text-xl font-semibold text-gray-600 mr-2">Budget Estimation</h2>
          <button class="lockButton" data-section="budgetEst"><i class="fas fa-lock"></i></button>
        </div>
        <!-- Img Upload Section -->
        <div
          class="w-64 h-64 border border-dashed border-gray-400 flex flex-col justify-center items-center relative group hover:bg-gray-100">
          <span class="text-gray-500">Upload Image</span>
          <button name="addImage"
            class="mt-2 hidden group-hover:flex items-center justify-center bg-gray-200 text-gray-700 py-1 px-3 rounded text-sm"
            id="imageBtn">
            <i class="fas fa-plus mr-1"></i> Add
          </button>
          <form id="imageUploadForm" class="hidden mt-4 p-4 bg-white shadow-lg rounded" method="POST" action="/upload"
            enctype="multipart/form-data">
            <input type="file" name="image" class="mb-2">
            <input type="text" name="imgname" id="imgname" placeholder="Image Name"
              class="border p-2 rounded mb-2 w-full">
            <input type="submit" value="Upload" class="bg-blue-500 text-white py-2 px-4 rounded cursor-pointer">
          </form>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if user.projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each user.projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8 text-yellow-100 font-bold">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="../js/profile.js"></script>