<div class="text-center">
    <h2>{{task.name}}</h2>
    <!-- Add other task details based on your Task model -->
</div>

<div class="bg-gray-100 p-6 flex flex-col h-screen">
    <div class="text-center mb-10">
        <h1 class="text-3xl font-semibold text-gray-700 py-3 px-5 rounded-lg shadow-sm">
            {{Project.name}} Task
        </h1>
    </div>
    <div class="flex-grow grid grid-cols-4 gap-6">
        <!-- Column 1 - New -->
        <div class="flex flex-col border border-gray-400 bg-blue-100 p-5 rounded-lg shadow-sm column">
            <div class="mb-4">
                <h2 class="text-xl font-semibold text-center mb-2">New</h2>
                <p class="text-center text-sm mb-2">Add new tasks here</p>
                <hr class="border-1 border-gray-400">

            </div>
            <div class="flex justify-between items-center mt-auto" id="taskCreator">
                <input type="text" name="NewTask" class="border-2 border-gray-300 rounded-md p-2 flex-grow mr-2"
                    id="taskInput">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="addTaskButton">
                    +
                </button>
            </div>
        </div>
        <!-- Column 2 - Urgent -->
        <div class="flex flex-col border border-gray-400 bg-red-100 p-5 rounded-lg shadow-sm column">
            <div class="mb-4">
                <h2 class="text-xl font-semibold text-center mb-2">Urgent</h2>
                <p class="text-center text-sm mb-2">Tasks needing immediate attention</p>
                <hr class="border-1 border-gray-400">
            </div>
            <!-- Additional content for the 'Urgent' column goes here -->
        </div>
        <!-- Column 3 - In Progress -->
        <div class="flex flex-col border border-gray-400 bg-yellow-100 p-5 rounded-lg shadow-sm column">
            <div class="mb-4">
                <h2 class="text-xl font-semibold text-center mb-2">In Progress</h2>
                <p class="text-center text-sm mb-2">Tasks currently being worked on</p>
                <hr class="border-1 border-gray-400">
            </div>
            <!-- Additional content for the 'In Progress' column goes here -->
        </div>
        <!-- Column 4 - Completed -->
        <div class="flex flex-col border border-gray-400 bg-green-100 p-5 rounded-lg shadow-sm column">
            <div class="mb-4">
                <h2 class="text-xl font-semibold text-center mb-2">Completed</h2>
                <p class="text-center text-sm mb-2">Tasks that are finished</p>
                <hr class="border-1 border-gray-400">
            </div>
            <!-- Additional content for the 'Completed' column goes here -->
        </div>
    </div>
</div>
<script src="../public/js/tasks.js"></script>